.speech {
    font-family: sans-serif;
    font-size: 15px;
    color: black;
    margin: 12px;
}

.stage-direction {
    font-family: Garamond, serif;
    font-size: 21px;
    color: black;
    background-color:lightsalmon;
}

.stage-direction:hover {
    background-color:lightslategrey;
    color: greenyellow;
}
.name {
    font-size: 20px;
    color:blue;
}
.GUIDO {
    color:lightseagreen;
}

.ASCANIO {
    color:rgb(245, 150, 164);
}


table { border: dashed 4px rgb(25, 8, 177);
border-collapse: collapse;}
table.collapsing {
border: solid 4px;
border-collapse: collapse;}
td, th {border: solid 3px ;
text-align: center;}
tr:nth-child(even)
{background-color: #e4e4e4;}

h6.GUIDO:hover{
    text-shadow: lightslategray;
    border-style: outset;
    filter: blur(1px);
}

h6.ASCANIO:hover{
    text-shadow: rgb(245, 129, 206);
    border-style: outset;
    filter: brightness(1px);
}